.sidebar1 {
    background-color: white;
    display: flex;
    border: 0.5px solid rgba(120, 116, 116,0.3);
    border-radius: 10px;
    padding: 20px 20px;
    height: 600px;

  }
  .sidebarleft{
    margin-right: 20px;
  }
  .sidebar1 h2 {
    margin-bottom: 15px;
  }
  
  .news-item {
    padding-top: 15px;
    margin-bottom: 10px;
    width: 300px;
  }
  
  .news-item img {
    width: 50%;
    width: 150px;
    height: 100px;
    object-fit: cover;
    margin-right: 10px;
  }
  
  .news-item p {
    font-size: 0.6rem;
    color: black;
    padding: 0;
    margin: 2px;
  }
  