.app-container {
  display: flex;
  height: 100vh;
}

.search-container {
  flex-basis: 30%; /* Chiếm 30% chiều rộng */
  height: 100vh; 
  box-sizing: border-box; 
  margin: 0px 10px 0 20px;
}

.newsfeed-container {
  flex-basis: 70%; /* Chiếm 70% chiều rộng */
  height: 100vh; 
  box-sizing: border-box;
}

.search-bar input {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.recent-searches ul {
  list-style: none;
  padding: 0;
}

.recent-searches ul li {
  margin-bottom: 10px;
}

