
  .sidebar{
    width: 300px;
    padding: 15px ;
    margin-right: 50px;
  background-color: white;
}

/* Other styles remain unchanged */

  .sidebar h2 {
    color: green;
  }
  .news-item {
    display: flex;
    padding-top: 10px;
    margin-bottom: 10px;  
  }
  
  .news-item img {
    width: 150px;
    height: 100px;
    object-fit: cover;
    margin-right: 10px;
  }
  
  .news-item p {
    font-size: 0.6rem;
    padding-top: 7px;
    color: black;
  }
  