/* Overlay */
.overlayavt {
    position: fixed;
    top: 110px;
    left: 298px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5; /* Overlay sẽ ở phía trên */
    display: none;
}
.overlayavt img {
    left: 298px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.overlayavt.show {
    display: block; /* Hiển thị overlay khi có lớp "show" */
}

/* Box modal */
.boxavt {
    position: fixed;
    width: 300px;
    top: 200px;
    right: 0;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1001; /* Đảm bảo box nằm trên overlay */
}

.chungavt {
    margin: 10px 0;
    margin-bottom: 20px;
    font-size: 1.2rem;
    cursor: pointer;
    text-align: center;
    padding-bottom: 15px;
    position: relative;
    border-bottom: 1px solid #c2c2c2; /* Gạch ngang ngăn cách giữa các mục */
}

.chungavt:last-child {
    border-bottom: none;
     /* Bỏ gạch ngang cho mục cuối cùng */
    margin-bottom: 0;
    margin-top: 20px;
}
/* Hiệu ứng hover cho các mục */
.chungavt:hover {
    color: #007BFF;
}

/* Ảnh nằm sau lớp phủ mờ */
.anhavt1 {
    width: 100vw; /* Chiều rộng 100% của viewport */
    height: 100vh; /* Chiều cao 100% của viewport */
    object-fit: cover; /* Đảm bảo ảnh không bị biến dạng */
    position: fixed; /* Vị trí tương đối */
    z-index: 1; /* Z-index thấp hơn overlay */
}

/* .bieudone {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
} */
.nutdong4{
    border: none;
    background-color: white;
    position: absolute;
    top:8px;
    left: 15px;
    font-size: 1.3rem;
}
.xemtrangcanhan {
    margin-top: 30px;
}
.nutdong4:hover{
    color: #e74c4c;
}
.overlaylogin7 {
    position: fixed;
    top: 0;
    left: 300px;
    width: 100%;
    height: 100%;

    z-index: 5;
    display: none;
    pointer-events: auto;
    overflow: hidden;
    opacity: 0;
    transition: opacity 1s ease; 
}

.overlaylogin7.show7 {
    display: block;
    opacity: 1;
}