.active {
    background-color: blue;
}

nav{
    align-items: center;
    background-color: black;
}
nav.title{
    font-size:  1.5rem;
    margin: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: aliceblue;
}
/* nav ul {
    display: flex;
} */
nav ul li {
    list-style: none;

}
nav ul li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 0.5rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
}
nav ul li a:not(.active):hover{
    background-color: rgb(62, 62, 160);
}