.post11 {
    border: 1px solid #dbdbdb;
    padding: 15px;
    margin: 20px ;
    margin-left: 130px;
    width: 1000px;
    height: 100%;
    align-items: center;
    border-radius: 10px;
  }
  .anhcontainerbaivietcuatoi{
    width: 200px;
    height: 150px;
    object-fit: cover;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  /* .noidungphanbaivietcuatoi{} */
  .chung2{
    border: 1px solid #dbdbdb;
    padding: 15px;
    margin: 10px 0;
    width: 500px;
    margin-left: 250px;
    border-radius: 10px;
    
  } 
  .post-header-left{
    display: flex;
    justify-content: space-between;
  }
  .post-header-right a{
    font-weight: bold;
    text-decoration: none;
    color: black;
  }
  .post-header {
    display: flex;
    align-items: center;
  }
  .post-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .post-info {
    margin-left: 10px;
  }
  
  .post-content {
    margin-top: 10px;
  }
  .post-content p{
    margin-bottom: 10px;
  }
  .post-actions span {
    margin-right: 15px;
    cursor: pointer;
  }
  .chubaiviet{
    position: absolute;
    left: 520px;
    top:360px;
    font-weight: 5px;
    font-size: 1.2rem;
  }