
.Sidemenu{
    display: "flex";
    flex-direction: "row";
    width: 300px;
    height: 60vh;
}
.lable .ant-menu-item {
    font-size: 20px; 
    font-weight: bold; 
    height: 50px;
    line-height: 50px; 
    /* margin-left: 20px; */
  }
.lable .ant-menu-item:hover {
    border: 2px solid #1890ff;  /* Border khi hover */
    background-color: #f0f0f0;  /* Màu nền khi hover (tuỳ chọn) */
  }
  
  /* Thêm border khi active */
  .lable .ant-menu-item-active {
    border: 2px solid #1890ff;  /* Border khi mục được active */
    background-color: #e6f7ff; 
     /* Màu nền khi mục được active (tuỳ chọn) */
     border: none;
  }
